body {margin: 0; padding: 0;}
.time-container{
	min-width: 1000px;
	width: 100vw;
	height: 100vh;
	margin: 0 5px 12px 0;
	
	background: url(../img/background.JPG) no-repeat;
	background-size: 100% 100%;
	border-radius: 20px;
	box-shadow: 0 10px 10px #a16ea7;
}

.time-container>p{
    padding-top: 4em;
	margin: 0 auto 30px auto;

	letter-spacing: 5px;
	color: white;
	font: normal 50px "Microsoft YaHei",sans-serif;
	text-align: center;	
	text-shadow: -1px 1px 3px #000, 
				-2px 3px 3px #7E3D76,
				 -1px 1px 3px #FF6347;
}

.timer-reflect,.timer-time,.timer-unit{
	margin: 0 auto;
	text-align: center;
}

.timer-unit span{
	width: 200px;
	margin: 0 15px 15px 0;
	
	font: normal 30px Arial,"Times New Roman";
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px #484891;
}

.timer-reflect span{
	display: inline-block;
	margin: -80px 5px 0px 5px;
	height: 150px;
	
	
	color: 	#880;
	font-size: 100px;
	-ms-transform: rotateX(250deg) skewX(10deg);
	-moz-transform: rotateX(250deg) skewX(10deg);
	-webkit-transform: rotateX(250deg) skewX(10deg);
	transform: rotateX(250deg) skewX(10deg);
	
	filter:alpha(opacity:10); opacity:0.3;
	
	
}

.timer-reflect span:nth-child(odd),.timer-time span:nth-child(odd){
	width: 150px;
	border-radius: 100px;
	background-color: rgba(255,255,244,0.4);
}

.timer-reflect span:nth-child(1),.timer-time span:nth-child(1){
	color: #FFA07A;
}

.timer-time span:nth-child(odd){
	box-shadow: 0 0 10px white;
}

.timer-reflect span:nth-child(odd){
	box-shadow: 0 0 20px white;
}

.timer-reflect span:nth-child(even),.timer-time span:nth-child(even){
	width: 50px;
}

.timer-time span, .timer-unit span{
	display: inline-block;
	vertical-align: middle;
}

.timer-time span{
	height: 150px;
	line-height: 150px;
	margin: 0 5px;
	
	font-size: 100px;
	vertical-align: middle;
	color: 	#FF0;
	text-shadow: 3px 0 1px #FFF;

}

.timer-time span:nth-child(odd):hover{
	color: white;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.8;
}

.timer-time span:nth-child(1):hover{
	background: url(../img/earth.png);
	background-size: 100%;
	
}

.timer-time span:nth-child(3):hover{
	background: url(../img/planet2.png);
	background-size: 100%;
}

.timer-time span:nth-child(5):hover{
	background: url(../img/planet4.png);
	background-size: 100%;
}

.timer-time span:nth-child(7):hover{
	background: url(../img/planet3.png);
	background-size: 100%;
}

.mobile-join img {
    display: block;
    margin: 20px auto 50px;
}

.mobile-join > a {
    color: #fff;
    border: 5px solid #ddd;
    padding: 20px;
    text-decoration: none;
}
